<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.koreait.member.mappers.MemberMapper">
<insert id="register" useGeneratedKeys="true" keyProperty="seq">
    INSERT INTO MEMBER (email, password, name, mobile, terms)
    VALUES (#{email}, #{password}, #{name}, #{mobile}, #{terms})
</insert>
<update id="update">
    UPDATE MEMBER
    <set>
        <if test="name != null">
            name = #{name},
        </if>
        <if test="mobile != null">
            mobile = #{mobile},
        </if>
        <if test="password != null">
            mobile = #{password},
        </if>
    </set>
    <where>
        email = #{email}
    </where>
</update>
<delete id="delete">
    DELETE FROM MEMBER WHERE email=#{email}
</delete>
<select id="get">
    SELECT * FROM MEMBER WHERE email = #{email}
</select>

<select id="getList">
    SELECT * FROM MEMBER ORDER BY regDt DESC
</select>
</mapper>